label.form-required::after {
  content: unset;
  background-image: unset;
  display: unset;
  line-height: unset;
  color: unset;
  background-size: unset;
  width: unset;
  vertical-align: unset;
  margin-left: unset;
  height: unset;
}

label.form-required strong.required::after {
  content: "";
  background-image: url(https://tc.canada.ca/themes/contrib/wxt_bootstrap/images/required.svg);
  display: inline-block;
  line-height: 1;
  color: #e00;
  background-size: 7px 7px;
  width: 7px;
  vertical-align: super;
  margin-left: 4px;
  height: 7px;
}

.wb-frmvld .checkbox.checkbox-standalone input[type="checkbox"] {
  position: unset;
  margin-left: unset;
}

.wb-frmvld label.form-required strong.error {
  display: block;
}

.wb-frmvld div.checkbox span.label-danger {
  margin-left: -1.2em;
}

.wb-frmvld div.form-group.has-error .control-label.valid,
.wb-frmvld div.form-group.has-error .form-control.valid,
.wb-frmvld div.form-group.has-error .input-control.valid {
  color: unset;
}

.wb-frmvld div.form-group.has-error .form-control.valid {
  border-color: unset;
}

.wb-frmvld div.form-group label strong.required,
.wb-frmvld div.form-group fieldset strong.required,
.wb-frmvld div.form-group label.control-label strong.required,
.wb-frmvld div.form-group label.control-label.form-required strong.required,
.wb-frmvld div.form-group label.form-required strong.required {
  color: #a94442 !important;
}

.wb-frmvld div.form-group.has-error .form-control.error {
  border-color: #a94442 !important;
}

.wb-frmvld form div.form-group {
  display: block !important;
}

.wb-frmvld div.form-group .control-label,
.wb-frmvld div.form-group strong.error span.label-danger,
.wb-frmvld .has-error .checkbox,
.wb-frmvld div.form-group label.control-label span,
.wb-frmvld .has-error .control-label span.field-name {
  color: unset !important;
}

div.form-type-date input {
  display: block;
}
